@{
    ViewData["Title"] = "BlogPost Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@model CodeBooks.Models.Makale


<!-- BLOG İÇERİĞİ İÇİN AYNI SAYFA TEXT İÇERİĞİ BUNDA OLACAK-->
<div class="item mb-5">
    <div class="media">
        <div class="media-body">
            <h3 class="title mb-1"><a href="#">  @Model.Baslik  </a></h3>
            <div class="meta mb-1"><span class="date">Date: @Model.Tarih</span><span class="time">Author: @Model.yazar  </span> </div>
            <div class="intro">

                @Html.Raw(Model.Text)

                </div>

        </div><!--//media-body-->
    </div><!--//media-->
</div><!--//item-->
