@{
    ViewData["Title"] = "Home Page";
}



<h1>CodeBooks </h1>
<h3>  Medium gibi sayfalar içeren kategori ve alt başlıklar ile yazılım ile alakalı bir blog</h3>
<h2>Üyeler</h2>

<p>

    Emrullah Erdem 170419030<br />
    Haktan Emre Şenel <br />
    Mahmut Demir 170419028 <br />
    Sedat bilece 170419038 <br />
</p>

<hr />

<p>
    C (Create ) => Makale (dökuman ) oluşturulma işlemi <br />
    R (Read) => Dökuman sayfalarının listelenmesi veya dökümanDetayinda içeriğin gösterilmesi <br />
    U ( Update ) => Döküman içeriğinin güncellenmesi işlemi <br />
    D (Delete ) => Döküman listesi üzerinden veya update içindeyken dökümanın silinemsi işlemlerini kapsar .
    
    <hr>Merhaba Deneme Mahmut<hr />

</p>

