@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@using CodeBooks.Models
@model List<Makale>





@foreach (var x in Model)
{


    <div class="item mb-5">
        <div class="media">
            <div class="media-body">
                <h3 class="title mb-1"><a href="/Home/BlogPost/@x.MakaleID">@x.Baslik</a></h3>

                <div class="meta mb-1">
                    <span class="date">Date: @x.Tarih</span>
                    <span class="time">Author : @x.yazar   </span>
                   
                </div>

              @{
                  int uzunluk;
                  if (x.Text.Length > 299)
                  {
                      uzunluk = 300;
                  }
                  else
                  {
                      uzunluk = x.Text.Length - 1;
                  }
              }
                <div class="intro"> @Html.Raw(x.Text.Substring(0, uzunluk) )   </div>
                <a class="more-link" href="/Home/BlogPost/@x.MakaleID">Read more &rarr;</a>
            </div><!--//media-body-->
        </div><!--//media-->
    </div><!--//item-->



}


