@{
    ViewData["Title"] = "Kategori Listesi ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="item mb-5">
    <div class="media">
        <div class="media-body">
            <h3 class="title mb-1"><a href="blog-post.html">Why Every Developer Should Have A Blog</a></h3>
        </div><!--//media-body-->
    </div><!--//media-->
</div><!--//item-->
