@{
   
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Code Books">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">

    <!-- Header icon urli-->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

    <!-- Theme CSS -->

    <link href="~/DevBlog/assets/css/theme-4.css" rel="stylesheet" />

</head>

<body>

    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a href="index.html">CodeBooks</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">

                    <img class="profile-image mb-3 rounded-circle mx-auto" src="~/DevBlog/assets/images/profile.png" />

                    <div class="bio mb-3">
                        Hi, my name is Anthony Doe. Briefly introduce yourself here. You can also provide a link to the about page.<br>

                        <hr />

                        <a href="#">Kategoriler</a>


                    </div><!--//bio-->
                    <hr />



                    <ul class="social-list list-group  py-3 mx-auto">
                        <li class="list-inline-item mt-2"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item mt-2"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                        <li class="list-inline-item mt-2"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
                        <li class="list-inline-item mt-2"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                        <li class="list-inline-item mt-2"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
                    </ul><!--//social-list-->

                </div><!--//profile-section-->




            </div>
        </nav>
    </header>

    <div class="main-wrapper">

        <section class="blog-list px-3 py-5 p-md-5">
            <div class="container">



               

                @RenderBody()




            </div>
        </section>


    </div><!--//main-wrapper-->
    <!-- Javascript -->
    <script src="~/DevBlog/assets/plugins/popper.min.js"></script>
    <script src="~/DevBlog/assets/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/DevBlog/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>


