@{

    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
    </style>
</head>
<body>


    <form method="post">
        <b>Kullanıcı Adı</b>
        <input type="type" name="userName" value="" />
        <br />
        <b>Şifre</b>
        <input type="password" name="password" value="" />
        <br />
        <input type="submit" class="fadeIn fourth" value="Giriş">
    </form>


</body>
</html>

