@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Kategori Ekle";
}
<br />
<form action="/Kategori/YeniKategori" method="post" class="form-group">


    
    <b>Birim Adı :</b>
    <input type="text" name="KategoriAd"  />



    <input type="submit" class="fadeIn fourth" value="Ekle">
</form>
